// COLORS
$color-white: #fff;
$color-primary: #20B486;
$color-secondary: #06241B;
$color-third: #FFC27A;
$color-redlight: #FFEEF0;
$color-greenlight: rgba(#E9F8F3, 70%);
$color-orangelight: #FEF5EB;
$color-gray: #6D737A;
$color-graylight: #E7E9EB;
$color-bluelight: #F0F7FF;

