// Go to top
.arrow_btn {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    cursor: pointer;
    z-index: 22;
    background-color: $color-primary;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    transition: all .2s ease-in-out;

    .bi-arrow-up-circle {
        font-size: 2rem;
        color: $color-white;
        @include absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:hover {
        transform: scale(1.2);
    }
}

// swiper
.swiper {
    width: 100%;
    height: 100%;
    background:none;
}

.swiper-wrapper {
    // gap: 1rem !important;
    padding-bottom: 5rem;
}

.swiper-slide {
    width: 14rem;
    
    img {
        height: 207px;
    }
}

.overley2 {
    position: absolute;
    right: 0;
    height: 283px;
    top: 2.5rem;
    width: 18rem;
    background: linear-gradient(to left, rgba($color-white, .8),  rgba($color-primary, 0) );
    z-index: 20;
    filter: blur(1px);
}


.title {
    color: $color-secondary;
    font-size: 2rem;
    font-weight: 500;
    margin: .4rem 0;
    position: relative;

    span {
        color: $color-primary;
    }
}

.desc {
    color: $color-gray;
    font-size: 1rem;
}