.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    @include box-shodow;
    z-index: 100;
    transition: all .3s ease-in-out;
    background-color: $color-white;
}

.sticky + .hero {
    padding-top: 120px;
}

.search_focus {
    outline: .1rem solid $color-primary !important;
}
